* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./test.svg"), url("http://example.com/test.png");
  background-repeat: no-repeat;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "pnum" 1;
  font-feature-settings: "kern" 1, "liga" 1, "lnum" 1, "pnum" 1;
  font-family: Helvetica Neue, Calibri, sans-serif;
  foo: bar;
  line-height: 1.5;
}

h1 {
  font-size: 250% !important;
  margin-top: 2rem;
}

p {
  margin-top: 1rem;
}

p:last-child {
  margin-bottom: 2rem;
}

.test {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
}

#test {
  background-color: #ff0;
}

/* Ignore @media */
@media (min-width: 1024px) {
  html {
    font-size: 112.5%;
  }
}

/* Remove unused styles */
test {
  background-color: red;
}

/* Remove unknown selector ruleset */
::-moz-selection {
  background-color: red;
}
